<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/app/html/static/addUser.css">
		<title> Add User </title>
	</head>

	<body>
		<p>
		<center> <h2> Add new user </h2></center>
		</p>

		<center>
		<div class="main-menu">
			<form action="" method="POST">
				<p>
				<input type="text" placeholder="Username"
				name="username" value="username" required>
				</p>
				<p>
				<input type="password" placeholder="Password" 
			       	name="password" value="password" required>
				</p>
				<p>
				<input type="submit" value="Submit">
				</p>
			</form>
		</div>
		</center>

	</body>

</html>
