<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/app/html/static/delUser.css">
		<title> Delete User </title>
	</head>

	<body>
		<p>
		<center> <h2> Delete User </h2></center>
		</p>
		<center>
			<p>
			{{range $n := .}}
			<h3> {{$n}} </h3>
			{{end}}
			</p>
		<div class="main-menu">
			<form action="" method="POST">
				<p>
				<input type="text" placeholder="Username"
				name="username" value="username" required>
				</p>
				<p>
				<input type="submit" value="Submit">
				</p>
			</form>
		</div>
		</center>

	</body>
</html>
