<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/app/html/static/index.css">
		<title> Index </title>
	</head>

	<body>
		<p>
		<center> <h2> Main Menu </h2></center>
		</p>

		<center>
		<div class="main-menu">
			<i>
			<a href="/lights"> Lights </a>
			<a href="/ledstrip"> Led Strip </a>
			<a href="/temperature_humidity"> Temperature/Humidity </a>
			</i>
		</div>
		</center>

	</body>

</html>
