<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/app/html/static/ledstrip.css">
		<title> Led Strip </title>
	</head>

	<body>
		<p>
		<center> <h4> Led strip settings </h4></center>
		<!-- Led strip toggle. Values will be stored in a db later on -->
		<form method="POST">
		<label class="switch">
			<input type="checkbox" name="light1" value="true">
			<span class="slider round"></span>
		</label>
			<button type="submit" value="submit1" name="submit1">Save</button>
		</form>
		</p>
	</body>

</html>
