<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/app/html/static/ledstrip.css">
		<title> Led Strip </title>
	</head>

	<body>
		<p>
		<!-- if ever add more led strips, they should be added in a list -->
		<center> <h3><i> Bedroom led strip </i></h3></center>
		<!-- Led strip toggle. Values will be stored in a db later on -->
		<div id="formPosition">
			<center>
			<br>
		<form method="POST"> 
		<label class="switch">
			<input id="state" type="checkbox" name="led_strip" value="true" {{if (eq .State "true")}}checked="checked"{{end}}> 
			<span class="slider round"></span>
		</label>
			<select name="ledStrip_Color">
				<option value="white"> White </option>
				<option value="red"> Red </option>
				<option value="blue"> Blue </option>
				<option value="orange"> Orange </option>
				<option value="yellow"> Yellow </option>
				<option value="dark_yellow"> Dark Yellow </option>
				<option value="yellow2"> Yellow2 </option>
				<option value="green"> Green </option>
				<option value="pea"> Pea </option>
				<option value="cyan"> Cyan </option>
				<option value="light_blue"> Light Blue </option>
				<option value="sky_blue"> Sky Blue </option>
				<option value="Blue"> Blue </option>
				<option value="dark_blue"> Dark Blue </option>
				<option value="purple"> Purple </option>
				<option value="violet"> Violet  </option>
				<option value="Pink"> Pink </option>
				<option value="flash"> Flash </option>
				<option value="strobe"> Strobe </option>
				<option value="fade"> Fade </option>
				<option value="smooth"> Smooth </option>
				
			</select>
			<input class="btn btn-default" type="submit" value="Save">
		</form>
		</div>
			</center>
	</body>

</html>
