<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/app/html/static/lights.css">
		<title> Lights </title>
		
		<a href="/dashboard"> &#8619; Back </a>
	</head>

	<body>
		<p>
		<center> <h3><i> Lights </i></h3></center>
		<div id="formPosition">
			<center>
			<br>
		<form method="POST"> 
		<ul>
		{{range $n := .}}
		<p><b> {{$n.DisplayName}} </b></p>
			<input type="submit" id={{$n.Name}} name={{$n.Name}}
				{{if (eq $n.State "true")}}style="background-color:red;" value="false"
				{{else}} style="background-color:green;" value="true"
				{{end}}>
			{{end}}
		</ul>
		</form>
		</div>
			</center>
		</p>
	</body>
</html>
