<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/app/html/static/lights.css">
		<title> Lights </title>
	</head>

	<body>
		<p>
		<center> <h3><i> Lights </i></h3></center>
		<div id="formPosition">
			<center>
			<br>
		<form method="POST"> 
		<ul>
			{{range $n := .}}
			<p><b> {{$n.DisplayName}} </b></p>
		<label class="switch">
			<input id={{$n.Name}} type="checkbox" name={{$n.Name}}
					value="true" {{if (eq $n.State "true")}}
					checked="checked"{{end}}>
			<span class="slider round"></span>
		</label>
		{{end}}
		</ul>
			<input class="btn btn-default" type="submit" value="Save">
		</form>
		</div>
			</center>
		</p>
	</body>
</html>
