<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/app/html/static/lights.css">
		<title> Lights </title>
	</head>

	<body>
		<p>
		<center> <h3><i> Lights </i></h3></center>
		<div id="formPosition">
			<center>
			<br>
		<form method="POST"> 
		<ul>
			<p><b> Office lamp </b></p>
		<label class="switch">
			<input id="state" type="checkbox" name="office_lamp" value="true" checked="checked"> 
			<span class="slider round"></span>
		</label>
		<p><b> Desk lamp </b></p>
		<label class="switch">
			<input id="state" type="checkbox" name="desk_lamp" value="true" checked="checked"> 
			<span class="slider round"></span>
		</label>
		</ul>
			<input class="btn btn-default" type="submit" value="Save">
		</form>
		</div>
			</center>
		</p>
	</body>
</html>
