<!DOCTYPE html>
<html>
	<head>
		
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/app/html/static/login.css">
		<title> Login </title>
	</head>

	<body>
		<center><h3> <i> Login to Home-Panel </i> </h3></center>
		<div id="formPosition">
		<center>
			<form action="" method="post">
				<p>
				<input type="text" placeholder="Username"
				name="username" value="">
				</p>
				<p>
				<input type="password" placeholder="Password" 
			       	name="password" value="">
				<input class="btn btn-default" type="submit" 
				value="Login">

				</p>
			</form>
		</div>
	</body>
</html>

