body { 
	background: #E5E5E5;
}

#formPosition {
	margin: 75px auto auto;
	background-color: #FBFBFB;
	border: 1px solid #F7F7F7;
	font-size: 20px;
}

input[type=text], input[type=password] {
	background-color: #FBFBFB;
	width: 500px;
	border: 1px solid #006666;
	height: 50px;
	display: block;
	font-size: 18px;
}

input[type=submit]{
	background-color: #E5A42A;
	color: #000000;
	padding: 14px 20px;
	margin: 20px 0 0;
	border: none;
	cursor: pointer;
	display: block;
	width: 500px;
	font-size: 18px;
}

ul { list-style: none; }

#usersList {
	background-color: #EFEFEF;
	float: bottom;
	width: 300px;
	overflow-y: auto;
	height: 250px;
	margin-top: 1em;
	margin-bottom: 1em;
	clear: both;
}

#switchLink a {
	text-decoration:none;
	color: #000000;
	font-size: 18px;
	font-style: italic;
}
