<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/github.com/
							KNaiskes/Home-Panel/
							html/static/addUser.css">
		<title> Add User </title>

		<div id="switchLink">
		<a href="/admin-panel"> &#9935; Go back to admin panel </a>
		</div>
	</head>
	</head>

	<body>
		<p>
		<center> <h2> Add new user </h2></center>
		</p>

		<center>
		<div class="main-menu">
			<form action="" method="POST">
				<p>
				<input type="text" placeholder="Username"
				name="username" value="" required>
				</p>
				<p>
				<input type="password" placeholder="Password" 
			       	name="password" value="" required>
				</p>
				<p>
				<input type="submit" value="Submit">
				</p>
				{{if (gt .UsernameLength 0)}}
				{{if (lt .UsernameLength 5)}}
				<h4 style="color:red;"> Username has to be at 
					least 5 characters long</h4>
				{{end}}

				{{if (lt .PasswordLength 5)}}
				<h4 style="color:red;"> Password has to be at
					least 5 characters long </h4>
				{{end}}

				{{if not .AddedUser}}
				<h4 style="color:red;">User already exists</h4>
				{{else}}
				{{if and (ge .UsernameLength 5) (ge .PasswordLength 5)}}
				<h4 style="color:green;">User has been registered</h4>
				{{end}}
				{{end}}
				{{end}}
			</form>
		</div>
		</center>

	</body>

</html>
