<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/github.com/
							KNaiskes/html/static/
							adminPanel.css">
		<title> Admin-Panel </title>
		<div id="switchLink">
		<a href="/dashboard"> &#9776; Switch to dashboard </a>
		</div>
	</head>

	<body>
		<p>
		<center> <h2> Admin Dashboard </h2></center>
		</p>

		<center>
		<div class="main-menu">
			<i>
			<a href="/addUser"> Add New User </a>
			<a href="/delUser"> Delete User </a>
			<a href="/updatePass"> Update User's Password </a>
			</i>
		</div>
		</center>

	</body>

</html>
