<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/github.com/
							KNaiskes/html/static/
							dashboard.css">
		<title> Dashboard </title>
		{{if .}}
		<div id="switchLink">
		<a href="/admin-panel"> &#9935; Switch to Admin Panel </a>
		</div>
		{{end}}
	</head>

	<body>
		<p>
		<center> <h2> Dashboard </h2></center>
		</p>

		<center>
		<div class="main-menu">
			<i>
			<a href="/twoState"> Two State Devices </a>
			<a href="/ledstrip"> Led Strip </a>
			</i>
		</div>
		</center>

	</body>

</html>
