<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/github.com/
							KNaiskes/Home-Panel/html/
							static/ledstrip.css">
		<title> Led Strip </title>

		<div id="switchLink">
		<a href="/dashboard"> &#9776; Go back to dashboard </a>
		</div>
	</head>

	<body>
		<p>
		<center> <h2> Led strips list </h2></center>
		<div id="formPosition">
			<center>
			<br>
		<form method="POST"> 
			<ul>
				{{range $n := .}}
				<p><b>Name: {{$n.DisplayName}} </b></p>
				<b>Change state:</b> <input type="submit" id={{$n.Name}} name={{$n.Name}}
				{{if (eq $n.State "true")}}style="color:green;background-color:green;" value="false"
				{{else}} style="color:#DBDBDB; background-color:#DBDBDB;" value="true"
				{{end}}>


				<b>Color:</b> <select name={{$n.Color}} onchange='this.form.submit()'>
				<option value="white"> White </option>
				<option value="red"> Red </option>
				<option value="blue"> Blue </option>
				<option value="orange"> Orange </option>
				<option value="yellow"> Yellow </option>
				<option value="dark_yellow"> Dark Yellow </option>
				<option value="yellow2"> Yellow2 </option>
				<option value="green"> Green </option>
				<option value="pea"> Pea </option>
				<option value="cyan"> Cyan </option>
				<option value="light_blue"> Light Blue </option>
				<option value="sky_blue"> Sky Blue </option>
				<option value="dark_blue"> Dark Blue </option>
				<option value="purple"> Purple </option>
				<option value="violet"> Violet  </option>
				<option value="Pink"> Pink </option>
				<option value="flash"> Flash </option>
				<option value="strobe"> Strobe </option>
				<option value="fade"> Fade </option>
				<option value="smooth"> Smooth </option>
				
			</select>
			{{end}}
		</form>
		</div>
			</center>
	</body>

</html>
