<!DOCTYPE html>
<html>
	<head>
		
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/github.com/
							KNaiskes/Home-Panel/html/
							static/login.css">
		<title> Login </title>
	</head>

	<body>
		<center><h3> <i> Login to Home-Panel </i> </h3></center>
		<div id="formPosition">
		<center>
			<form action="" method="POST">
				<p>
				<input type="text" placeholder="Username"
				name="username" value="">
				</p>
				<p>
				<input type="password" placeholder="Password" 
			       	name="password" value="">
				<input type="submit" value="Submit">
				</p>
				{{if and (not .CredentialsMatch) (gt .UsernameLength 0)	(gt .PasswordLength 0)}}
				<h4 style="color:red;"> Credentials do not match </h4>
				{{end}}
			</form>
		</div>
	</body>
</html>

