<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="src/github.com/
							KNaiskes/Home-Panel/html/
							static/tempHumTable.css">
		<title> Temperature and Humidity Measurements </title>

		<div id="switchLink">
		<a href="/dashboard"> &#9776; Switch to dashboard </a>
		</div>
	</head>

	<body>
		<center>
			<table>
				<tr>
					<th> Temperature </th>
					{{range $t := $.Temperature}}
					<td> {{$t}} </td>
					{{end}}
				</tr>
				<tr>
					<th> Humidity </th>
					{{range $h := $.Humidity}}
					<td> {{$h}} </td>
					{{end}}
				</tr>
				<tr>
					<th> Time </th>
					{{range $d := $.Time}}
					<td> {{$d}} </td>
					{{end}}
				</tr>
			</table>
			
		</center>
	</body>

</html>
