body {
	background-color: #F8F8FA
}

a { 
	color: #000000;
	text-decoration: none;
}

input[type=submit]{
	background-color: #51798F;
	color: white;
	padding: 10px 0;
	margin: 20px 0 50px;
	border: none;
	cursor: pointer;
	display: block;
	width: 300px;
	font-size: 18px;
}

select {
	background-color: #327BAB;
	color: white;
	font-size: 20px;
	padding: 10px 0;
	margin 20px 0 0;
	border-radius: 2px;
	width: 300px;
	display: block;
	border: none;
	appearance: none;
	-moz-appearance:none; 
    	-webkit-appearance:none;
}

#formPosition {
	background-color: #b3cde0;
	margin: 150px auto auto ;
	width: auto;
	border: 1px solid #F7F7F7;
	font-size: 20px;
}

