body {
	background-color: #F8F8FA
}

p {
	font-size: 20px;
}

a { 
	color: #000000;
	text-decoration: none;
}

input[type=submit]{
	background-color: #51798F;
	color: white;
	padding: 10px 0;
	margin: 4px 2px;
	border: none;
	cursor: pointer;
	display: inline-block;
	width: 100px;
	font-size: 18px;
	border-radius: 12px;
}

#formPosition {
	background-color: #EAEBEC;
	margin: 150px auto auto ;
	width: auto;
	border: 1px solid #F7F7F7;
	font-size: 20px;
}

#switchLink a {
	text-decoration:none;
	color: #000000;
	font-size: 18px;
	font-style: italic;
}
